* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #f8f9fa;
}

/* HERO SECTION */
.hero-section {
    background: linear-gradient(rgba(0,0,50,0.7), rgba(0,0,80,0.7)),
    url("images/fifth.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-section h1 {
    font-size: 55px;
    font-weight: bold;
}

.hero-section h2 {
    font-size: 35px;
    color: #ffc107;
    margin-top: 10px;
}

.hero-section p {
    font-size: 22px;
    margin-top: 10px;
}

.hero-logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    margin-bottom: 20px;
}

/* GLOBAL SECTION SPACING */
section {
    padding: 70px 0;
}

h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

/* ABOUT SECTION */
.about-section {
    background: white;
}

.about-card {
    background: #f8f9ff;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.about-card:hover {
    transform: translateY(-8px);
}

.about-logo {
    width: 140px;
    height: 140px;
    object-fit: contain;
    border-radius: 50%;
    background: white;
    padding: 10px;
}

.conference-title {
    font-size: 32px;
    font-weight: 700;
    color: #0056d2;
    margin-bottom: 10px;
}

.conference-subtitle {
    font-size: 20px;
    color: #666;
    margin-bottom: 25px;
}

/* FEATURE TAGS */
.feature-box {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
}

.feature-box span {
    background: #002147;
    color: white;
    padding: 10px 18px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 500;
}

/* ABOUT HEADING */
.about-heading {
    font-size: 42px;
    font-weight: 700;
    color: #002147;
    position: relative;
    margin-bottom: 30px;
}

.about-heading::after {
    content: "";
    width: 100px;
    height: 4px;
    background: #ffc107;
    position: absolute;
    left: 0;
    bottom: -10px;
    border-radius: 10px;
}

.about-text {
    font-size: 18px;
    line-height: 1.8;
    color: #555;
    margin-bottom: 20px;
}

/* CARDS */
.card {
    border: none;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

/* IMAGES */
img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

/* LISTS */
ul li {
    margin-bottom: 10px;
    font-size: 18px;
}

/* LIGHT SECTION */
.bg-light {
    background: #eef4ff !important;
}

/* FOOTER */
.footer-section {
    background: #001a33;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.footer-section h2 {
    color: white;
}

.university-section{
    background: white;
}

.university-heading{
    font-size: 42px;
    font-weight: 700;
    color: #002147;
    position: relative;
    margin-bottom: 25px;
}

.university-heading::after{
    content: "";
    width: 100px;
    height: 4px;
    background: #ffc107;
    position: absolute;
    left: 0;
    bottom: -10px;
    border-radius: 10px;
}

.university-text{
    font-size: 18px;
    color: #555;
    line-height: 1.8;
    margin-bottom: 20px;
}

.university-features{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.university-features span{
    background: #002147;
    color: white;
    padding: 10px 16px;
    border-radius: 20px;
    font-size: 14px;
}
.university-img{
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: contain;
    border-radius: 20px;
    transition: 0.3s;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.15);
}

.university-img:hover{
    transform: scale(1.03);
}
/* TRACKS */
.tracks-section{
    background: #eef4ff;
}

.tracks-heading{
    font-size: 42px;
    font-weight: 700;
    color: #002147;
}

.tracks-list li{
    font-size: 18px;
    margin-bottom: 12px;
    list-style: none;
    position: relative;
    padding-left: 25px;
}

.tracks-list li::before{
    content: "✔";
    color: #ffc107;
    position: absolute;
    left: 0;
}
.keynote-section{
    background: white;
}

.keynote-heading{
    font-size: 42px;
    font-weight: 700;
    color: #002147;
}

.keynote-heading::after{
    content: "";
    width: 100px;
    height: 4px;
    background: #ffc107;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}

.keynote-subtext{
    font-size: 18px;
    color: #555;
    max-width: 700px;
    margin: auto;
}

.speaker-category{
    color: #0056d2;
    font-weight: 700;
    font-size: 28px;
}

.speaker-card{
    background: #f8f9ff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
    height: 100%;
}

.speaker-card:hover{
    transform: translateY(-8px);
}

.speaker-icon{
    font-size: 45px;
    margin-bottom: 15px;
}

.speaker-card h4{
    font-size: 22px;
    color: #002147;
    font-weight: 600;
}
.organization-section{
    background: #eef4ff;
}

.organization-heading{
    font-size: 42px;
    font-weight: 700;
    color: #002147;
}

.organization-heading::after{
    content: "";
    width: 100px;
    height: 4px;
    background: #ffc107;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}

.partner-box{
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}

.partner-box h3{
    color: #0056d2;
    font-weight: 700;
}

.partner-box p{
    font-size: 18px;
    color: #555;
}

.org-card{
    background: linear-gradient(135deg, #ffffff, #f8f9ff);
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0px 8px 25px rgba(0,0,0,0.12);
    height: 100%;
    transition: 0.3s;
    border-top: 5px solid #0056d2;
    position: relative;
    overflow: hidden;
}

.org-card:hover{
    transform: translateY(-10px);
}

/* Decorative circle */
.org-card::before{
    content: "";
    width: 80px;
    height: 80px;
    background: rgba(255,193,7,0.15);
    position: absolute;
    top: -20px;
    right: -20px;
    border-radius: 50%;
}

.org-card h4{
    color: #002147;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 28px;
}

/* Names styling */
.org-card p{
    color: #555;
    font-size: 18px;
    margin-bottom: 12px;
    padding-left: 25px;
    position: relative;
}

/* Tick icon before names */
.org-card p::before{
    content: "✔";
    color: #ffc107;
    position: absolute;
    left: 0;
    font-weight: bold;
}
.schedule-section{
    background: white;
}

.schedule-heading{
    font-size: 42px;
    font-weight: 700;
    color: #002147;
}

.schedule-heading::after{
    content: "";
    width: 100px;
    height: 4px;
    background: #ffc107;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}

.schedule-card{
    background: #f8f9ff;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
    height: 100%;
    transition: 0.3s;
}

.schedule-card:hover{
    transform: translateY(-8px);
}

.schedule-card h3{
    color: #0056d2;
    font-weight: 700;
    margin-bottom: 20px;
}

.schedule-card ul{
    list-style: none;
    padding: 0;
}

.schedule-card ul li{
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-size: 17px;
}

.schedule-card ul li:last-child{
    border-bottom: none;
}
.registration-section{
    background: #eef4ff;
}

.registration-heading{
    font-size: 42px;
    font-weight: 700;
    color: #002147;
}

.registration-heading::after{
    content: "";
    width: 100px;
    height: 4px;
    background: #ffc107;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}

.fee-card{
    background: white;
    padding: 35px 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
    height: 100%;
}

.fee-card:hover{
    transform: translateY(-10px);
}

.fee-card h4{
    color: #002147;
    font-weight: 600;
    margin-bottom: 15px;
}

.fee-card h3{
    color: #0056d2;
    font-size: 35px;
    font-weight: bold;
}

.fee-card p{
    color: #666;
}

/* Register Button */
.register-btn{
    background: linear-gradient(to right, #002147, #0056d2);
    color: white;
    padding: 14px 35px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    transition: 0.3s;
    display: inline-block;
}

.register-btn:hover{
    background: linear-gradient(to right, #ffc107, #ff9800);
    color: black;
    transform: scale(1.05);
}
.publication-section{
    background: white;
}

.publication-heading{
    font-size:42px;
    font-weight:700;
    color:#002147;
}

.publication-heading::after{
    content:"";
    width:100px;
    height:4px;
    background:#ffc107;
    display:block;
    margin:10px auto;
    border-radius:10px;
}

.publication-subtext{
    font-size:18px;
    color:#666;
}

.publication-card{
    background:#f8f9ff;
    padding:30px;
    border-radius:20px;
    box-shadow:0px 5px 20px rgba(0,0,0,0.1);
    transition:0.3s;
    height:100%;
}

.publication-card:hover{
    transform:translateY(-8px);
}

.publication-icon{
    font-size:45px;
    margin-bottom:20px;
}

.publication-card h4{
    color:#002147;
    font-size:22px;
    font-weight:600;
}
.includes-section{
    background:#eef4ff;
}

.includes-heading{
    font-size:42px;
    font-weight:700;
    color:#002147;
}

.includes-heading::after{
    content:"";
    width:100px;
    height:4px;
    background:#ffc107;
    display:block;
    margin:10px auto;
    border-radius:10px;
}

.includes-subtext{
    font-size:18px;
    color:#666;
}

.include-card{
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow:0px 5px 20px rgba(0,0,0,0.1);
    transition:0.3s;
    font-size:40px;
    height:100%;
}

.include-card:hover{
    transform:translateY(-8px);
}

.include-card h4{
    font-size:20px;
    color:#002147;
    margin-top:15px;
    font-weight:600;
}
.bhopal-section{
    background: #eef4ff;
}

.bhopal-heading{
    font-size: 42px;
    font-weight: 700;
    color: #002147;
}

.bhopal-heading::after{
    content: "";
    width: 100px;
    height: 4px;
    background: #ffc107;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}

.bhopal-main-text{
    font-size: 18px;
    color: #555;
    max-width: 900px;
    margin: auto;
    line-height: 1.8;
    margin-bottom: 20px;
}

/* Attractive Cards */
.bhopal-card{
    background: white;
    padding: 35px 25px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
    height: 100%;
}

.bhopal-card:hover{
    transform: translateY(-10px);
}

.bhopal-icon{
    font-size: 50px;
    margin-bottom: 20px;
}

.bhopal-card h4{
    color: #002147;
    font-weight: 700;
    margin-bottom: 15px;
}

.bhopal-card p{
    color: #666;
    font-size: 17px;
}